interactions:
- request:
    body: '{"apiKey": "MASKED", "apiId": "MASKED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/auth
  response:
    body:
      string: '55525181242520128588213004857885298149'
    headers:
      content-type:
      - text/plain;charset=UTF-8
      x-expires-in:
      - '3600'
    status:
      code: 200
      message: ''
- request:
    body: '{"rankingSystem": "ApiRankingSystem", "asOfDt": "2023-01-06", "pitMethod":
      "Prelim", "rankingMethod": 2, "includeNames": true, "includeNaCnt": true, "includeFinalStmt":
      true, "nodeDetails": "factor", "tickers": "AAPL,MSFT,GOOGL", "currency": "USD",
      "universe": "SP500", "additionalData": ["Close(0)", "mktcap"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - MASKED
    method: POST
    uri: https://api.portfolio123.com/rank/ranks
  response:
    body:
      string: '{"cost":2,"quotaRemaining":8817,"dt":"2022-12-31","p123Uids":[5881,21724,774],"tickers":["MSFT","GOOGL","AAPL"],"names":["Microsoft
        Corp.","Alphabet, Inc.","Apple, Inc."],"naCnt":[0,0,0],"finalStmt":[true,true,true],"ranks":[70.6,65.2,64.2],"nodes":{"ids":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98],"names":["ApiRankingSystem","Core:
        Growth","EPS","Basic","EPSExclXorGr%PYQ","EPSExclXorGr%TTM","EPSExclXorGr%5Y","Acceleration","EPS
        Acceleration - recent","EPS Acceleration - longer term","Sales[...]
