interactions:
- request:
    body: '{"apiKey": "MASKED", "apiId": "MASKED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/auth
  response:
    body:
      string: '55438191516696165968517678207362729910'
    headers:
      content-type:
      - text/plain;charset=UTF-8
      x-expires-in:
      - '3600'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      authorization:
      - MASKED
    method: GET
    uri: https://api.portfolio123.com/strategy/1701030
  response:
    body:
      string: '{"summary":{"generalInfo":{"name":"Small Cap Focus","mktVal":1.079744652E7,"cash":59.83,"noPos":20,"lastTrades":4,"lastTraded":"2025-03-24","start":"2007-01-01","end":"2025-03-21","sizingMethod":"Static
        Weight","rebalPeriod":"Every Week","rebalMode":"Automatic","nextRebal":"2025-03-31","rebalText":"In
        7 Days","benchmarkId":24136,"benchmark":"Russell 2000 (IWM:USA)","universe":"Easy
        to Trade US","rankingSystemId":403577,"rankingSystem":"Small and Micro Cap
        Focus"},"quickStats":{"totalReturn":21526.39,"benchReturn":234.24,"activeReturn":21292.15,"annualizedReturn":34.3,"annualTurnover":261.33,"maxDrawdown":-59.21,"benchMaxDrawdown":-59.05,"overallWinners":548,"overallWinnersPct":53.88,"sharpeRatio":1.34,"benchCorrel":0.79}},"holdings":[{"weight":4.45,"ticker":"AAMI:USA","name":"Acadian
        Asset Management, Inc.","mktUid":52367,"retPct":7.33,"ret":32828.74,"rank":99.97,"shares":18833.0,"avgShareCost":23.79,"currPrice":25.53,"value":480806.49,"daysHeld":11,"sector":"Finance"},{"weight":4.42,"ticker":"BTMD:USA","name":"biote
        Corp.","mktUid":68423,"retPct":-17.04,"ret":-98009.11,"rank":99.15,"shares":123624.0,"avgShareCost":4.65,"currPrice":3.86,"value":477188.64,"daysHeld":25,"sector":"Healthcare"},{"weight":5.08,"ticker":"CHCI:USA","name":"Comstock
        Holding Cos., Inc.","mktUid":22330,"retPct":-0.93,"ret":-5173.69,"rank":99.84,"shares":70824.0,"avgShareCost":7.81,"currPrice":7.74,"value":548177.76,"daysHeld":-3,"sector":"Finance"},{"weight":4[...]
[...]
- request:
    body: '{"rankingSystem": "Small and Micro Cap Focus", "asOfDt": "2023-01-06",
      "pitMethod": "Prelim", "rankingMethod": 2, "includeNames": false, "includeNaCnt":
      false, "includeFinalStmt": false, "currency": "USD", "universe": "Easy to Trade
      US"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - MASKED
    method: POST
    uri: https://api.portfolio123.com/rank/ranks
  response:
    body:
      string: '{"cost":2,"quotaRemaining":8787,"dt":"2022-12-31","p123Uids":[41727,64231,23996,8394,5086,45230,57627,68538,2571,7435,23295,44160,61510,6840,51942,33514,6699,54645,23373,20621,53311,41870,702,61022,24988,19282,5890,26283,51620,18144,29262,64708,41051,31561,2060,5469,22616,6833,6885,52481,65335,64365,61335,61615,61003,62481,7728,53059,27261,54787,52051,61584,23404,6071,41487,17302,24306,2680,20511,27316,2223,22987,54245,23054,69403,23081,9142,27446,62264,45293,23004,33453,45114,64378,65749,7593,33372,7352,28754,65236,52447,53494,8709,3526,54732,4164,53615,[...]
