interactions:
- request:
    body: '{"apiKey": "MASKED", "apiId": "MASKED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/auth
  response:
    body:
      string: '50998786895114576556892260327150484130'
    headers:
      content-type:
      - text/plain;charset=UTF-8
      x-expires-in:
      - '3600'
    status:
      code: 200
      message: ''
- request:
    body: '{"startDt": "2020-01-01", "endDt": "2020-12-31", "rebalFreq": "Every 4
      Weeks", "pitMethod": "Prelim", "transPrice": 4, "riskStatsPeriod": "Monthly",
      "screen": {"type": "stock", "universe": "SP500", "maxNumHoldings": 50, "method":
      "long", "currency": "USD", "benchmark": "SPY", "ranking": "ApiRankingSystem",
      "rules": [{"formula": "PERelative() > 0"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - MASKED
    method: POST
    uri: https://api.portfolio123.com/screen/backtest
  response:
    body:
      string: '{"cost":5,"quotaRemaining":8805,"stats":{"samples":10,"correlation":0.97,"r_squared":0.95,"beta":0.97,"alpha":-19.82,"port":{"standard_dev":28.24,"sharpe_ratio":-0.11,"sortino_ratio":-0.14,"total_return":-5.96,"annualized_return":-5.97,"max_drawdown":-38.08},"bench":{"standard_dev":28.31,"sharpe_ratio":0.68,"sortino_ratio":0.91,"total_return":17.24,"annualized_return":17.25,"max_drawdown":-33.72}},"results":{"columns":["As
        Of Dt","Rank Dt","Tran Dt","End Dt","#Pos","New Pos","Sold Pos","Turn","Ret%","Bench%","Excess%","100
        USD Investment","100 USD in SPY:USA","Costs","Cash","Min % no slip","Max %
        no slip","StdDev"],"rows":[["2020-12-27","2020-12-26","2020-12-28","2020-12-31",50,9,9,18.0,0.37,0.46,-0.09,94.04,117.24,0.08,0.0,-2.1,2.74,1.02],["2020-11-29","2020-11-28","2020-11-30","2020-12-28",50,18,18,36.0,1.86,3.23,-1.37,93.69,116.7,0.17,0.0,-10.98,15.87,5.17],["2020-11-01","2020-10-31","2020-11-02","2020-11-30",50,23,23,46.0,7.0,9.65,-2.65,91.98,113.05,0.2,0.0,-2.95,18.93,5.34],["2020-10-04","2020-10-03","2020-10-05","2020-11-02",50,8,8,16.0,-3.09,-2.81,-0.27,85.97,103.1,0.07,-0.0,-15.63,20.47,6.78],["2020-09-06[...]
