interactions:
- request:
    body: '{"apiId": "MASKED", "apiKey": "MASKED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/auth
  response:
    body:
      string: MASKED
    headers:
      content-type:
      - text/plain;charset=UTF-8
      x-expires-in:
      - '3600'
    status:
      code: 200
      message: ''
- request:
    body: '{"rankingSystem": "Small and Micro Cap Focus", "asOfDt": "2023-01-06",
      "pitMethod": "Prelim", "rankingMethod": 2, "includeNames": true, "includeNaCnt":
      true, "includeFinalStmt": true, "nodeDetails": "factor", "tickers": "AAPL,MSFT,GOOGL",
      "currency": "USD", "universe": "SP500", "additionalData": ["Close(0)", "mktcap"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/rank/ranks
  response:
    body:
      string: '{"cost": 2, "quotaRemaining": 7268, "dt": "2022-12-31", "p123Uids":
        [5881, 774, 21724], "tickers": ["MSFT", "AAPL", "GOOGL"], "names": ["Microsoft
        Corp.", "Apple, Inc.", "Alphabet, Inc."], "naCnt": [0, 0, 0], "finalStmt":
        [true, true, true], "ranks": [58.2, 57.8, 16.0], "nodes": {"ids": [0, 1, 2,
        3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,
        24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37], "names": ["Small
        and Micro Cap Focus", "consistent EPS growth", "EPS current quarter growth",
        "EPSExclXorGr%PYQ", "FCF%AssetsQ", "FCFGr%TTM", "FCF PEG", "forward earnings
        yield", "forward EBITDA/EV", "forward revenue yield", "gross plant to sales
        compared to industry median", "GrossProfit%AssetsA", "industry RSI", "inventory
        change", "median ROE", "MktCap", "OpIncGr%PYQ", "PEGST near 1", "ROA%Q", "SalesGr%PYQ",
        "Sentiment: P123 basic", "Estimate Revision", "EPS Estimate Revision CY",
        "EPS Estimate Revision CQ", "EPS Estimate Variability CQ", "Surprise", "Surprise%Q1",
        "Surprise%Q2", "Recommendations", "Changes in Recommendation", "AvgRec", "share
        turnover, 1 yr", "share turnover, 3 months", "subindustry momentum", "unlevered
        free cash flow to EV", "velocity", "volume", "volume increase"], "parents":
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20, 21, 21,
        21, 20, 25, 25, 20, 28, 28, 0, 0, 0, 0, 0, 0, 0], "types": [0, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1,
        1, 1, 1, 1, 1, 1, 1, 1], "weights": [100.0, 4.0, 2.0, 4.0, 3.0, 2.0, 3.0,
        4.0, 4.0, 3.0, 4.0, 6.0, 3.0, 2.0, 3.0, 8.0, 6.0, 1.0, 1.0, 6.0, 6.0, 50.0,
        33.33, 33.33, 33.33, 30.0, 65.0, 35.0, 20.0, 75.0, 25.0, 4.0, 7.0, 2.0, 3.0,
        2.0, 4.0, 3.0], "ranks": [[58.2, 80.4, 34.72, 36.11, 88.2, 56.94, 48.61, 63.64,
        54.55, 27.27, 31.6, 63.64, 14.6, 49.4, 87.8, 0.2, 48.61, 50.0, 90.8, 52.4,
        68.6, 66.4, 67.0, 65.0, 59.2, 24.6, 40.8, 17.6, 97.0, 83.0, 98.0, 92.8, 92.6,
        15.4, 49.4, 16.4, 0.8, 78.4], [57.8, 80.4, 36.11, 55.56, 92.6, 80.56, 75.0,
        33.33, 16.67, 16.67, 77.6, 83.33, 58.2, 96.0, 96.2, 0.0, 45.83, 38.2, 95.2,
        45.4, 14.2, 17.6, 13.4, 17.4, 47.4, 38.4, 39.6, 43.6, 33.4, 30.2, 73.8, 70.6,
        72.0, 16.8, 68.0, 67.6, 0.2, 77.8], [16.0, 39.8, 20.83, 29.17, 86.8, 51.39,
        38.89, 80.0, 80.0, 70.0, 35.0, 50.0, 5.8, 57.6, 69.4, 0.4, 20.83, 35.4, 84.4,
        35.4, 5.0, 15.2, 19.6, 25.6, 22.4, 6.2, 10.6, 15.4, 37.2, 36.0, 97.8, 67.2,
        76.8, 1.4, 73.6, 28.2, 1.4, 33.0]]}, "additionalData": [[239.82, 1788337.75],
        [129.93, 2071529.07], [88.23, 1144431.37]]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: ''
[...]
