interactions:
- request:
    body: '{"rankingSystem": "Small and Micro Cap Focus", "asOfDt": "2023-01-06",
      "pitMethod": "Prelim", "rankingMethod": 1, "includeNames": true, "includeNaCnt":
      true, "includeFinalStmt": true, "nodeDetails": "composite", "tickers": "AAPL,MSFT,GOOGL",
      "currency": "USD", "universe": "SP500", "additionalData": ["Close(0)", "mktcap"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/rank/ranks
  response:
    body:
      string: '{"cost": 2, "quotaRemaining": 7266, "dt": "2022-12-31", "p123Uids":
        [774, 5881, 21724], "tickers": ["AAPL", "MSFT", "GOOGL"], "names": ["Apple,
        Inc.", "Microsoft Corp.", "Alphabet, Inc."], "naCnt": [0, 0, 0], "finalStmt":
        [true, true, true], "ranks": [61.05, 61.05, 61.05], "nodes": {"ids": [0, 20,
        21, 25, 28], "names": ["Small and Micro Cap Focus", "Sentiment: P123 basic",
        "Estimate Revision", "Surprise", "Recommendations"], "parents": [0, 0, 20,
        20, 20], "weights": [100.0, 6.0, 50.0, 30.0, 20.0], "ranks": [[61.05, 8.04,
        13.85, 39.03, 39.92], [61.05, 73.39, 71.86, 28.92, 95.13], [61.05, 6.64, 19.17,
        2.54, 72.16]]}, "additionalData": [[129.93, 2071529.07], [239.82, 1788337.75],
        [88.23, 1144431.37]]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"rankingSystem": "Small and Micro Cap Focus", "asOfDt": "2023-01-06",
      "pitMethod": "Prelim", "rankingMethod": 1, "includeNames": true, "includeNaCnt":
      true, "includeFinalStmt": true, "nodeDetails": "composite", "tickers": "AAPL,MSFT,GOOGL",
      "currency": "USD", "universe": "SP500", "additionalData": ["Close(0)", "mktcap"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/rank/ranks
  response:
    body:
      string: '{"cost": 2, "quotaRemaining": 6911, "dt": "2022-12-31", "p123Uids":
        [774, 5881, 21724], "tickers": ["AAPL", "MSFT", "GOOGL"], "names": ["Apple,
        Inc.", "Microsoft Corp.", "Alphabet, Inc."], "naCnt": [0, 0, 0], "finalStmt":
        [true, true, true], "ranks": [61.05, 61.05, 61.05], "nodes": {"ids": [0, 20,
        21, 25, 28], "names": ["Small and Micro Cap Focus", "Sentiment: P123 basic",
        "Estimate Revision", "Surprise", "Recommendations"], "parents": [0, 0, 20,
        20, 20], "weights": [100.0, 6.0, 50.0, 30.0, 20.0], "ranks": [[61.05, 8.04,
        13.85, 39.03, 39.92], [61.05, 73.39, 71.86, 28.92, 95.13], [61.05, 6.64, 19.17,
        2.54, 72.16]]}, "additionalData": [[129.93, 2071529.07], [239.82, 1788337.75],
        [88.23, 1144431.37]]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
