interactions:
- request:
    body: '{"apiKey": "MASKED", "apiId": "MASKED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/auth
  response:
    body:
      string: MASKED
    headers:
      content-type:
      - text/plain;charset=UTF-8
      x-expires-in:
      - '3600'
    status:
      code: 200
      message: ''
- request:
    body: '{"rankingSystem": "ApiRankingSystem", "asOfDt": "2023-01-06", "pitMethod":
      "Prelim", "rankingMethod": 2, "includeNames": true, "includeNaCnt": true, "includeFinalStmt":
      true, "nodeDetails": "factor", "tickers": "AAPL,MSFT,GOOGL", "currency": "USD",
      "universe": "SP500", "additionalData": ["Close(0)", "mktcap"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - MASKED
    method: POST
    uri: https://api.portfolio123.com/rank/ranks
  response:
    body:
      string: '{"cost": 2, "quotaRemaining": 9083, "dt": "2022-12-31", "p123Uids":
        [774, 21724, 5881], "tickers": ["AAPL", "GOOGL", "MSFT"], "names": ["Apple,
        Inc.", "Alphabet, Inc.", "Microsoft Corp."], "naCnt": [0, 0, 0], "finalStmt":
        [true, true, true], "ranks": [47.4, 43.2, 35.2], "nodes": {"ids": [0, 1, 2,
        3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,
        24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42,
        43, 44], "names": ["ApiRankingSystem", "Sentiment: P123 basic", "Estimate
        Revision", "EPS Estimate Revision CY", "EPS Estimate Revision CQ", "EPS Estimate
        Variability CQ", "Surprise", "Surprise%Q1", "Surprise%Q2", "Recommendations",
        "Changes in Recommendation", "AvgRec", "forward earnings yield", "forward
        EBITDA/EV", "forward revenue yield", "GrossProfit%AssetsA", "SalesGr%PYQ",
        "share turnover, 1 yr", "share turnover, 3 months", "OpIncGr%PYQ", "consistent
        EPS growth", "EPS current quarter growth", "EPSExclXorGr%PYQ", "FCF%AssetsQ",
        "FCFGr%TTM", "FCF PEG", "gross plant to sales compared to industry median",
        "MktCap", "industry RSI", "inventory change", "median ROE", "PEGST near 1",
        "ROA%Q", "subindustry momentum", "unlevered free cash flow to EV", "velocity",
        "volume", "volume increase", "AggSalesEstimate", "AggSalesEstQoPYQ", "AggSalesEstQ2oPYQ",
        "AggSES", "Pct4WH", "Test", "Test2"], "parents": [0, 0, 1, 2, 2, 2, 1, 6,
        6, 1, 9, 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 38, 38, 0, 0, 0, 0], "types": [0, 0, 0, 1, 1, 1, 0, 1, 1,
        0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1], "weights": [100.0, 4.72, 50.0, 33.33, 33.33,
        33.33, 30.0, 65.0, 35.0, 20.0, 75.0, 25.0, 3.15, 3.15, 2.36, 4.72, 4.72, 3.15,
        5.51, 4.72, 3.15, 1.57, 3.15, 2.36, 1.57, 2.36, 3.15, 6.3, 2.36, 1.57, 2.36,
        0.79, 0.79, 1.57, 2.36, 1.57, 3.15, 2.36, 0.79, 66.67, 33.33, 0.79, 5.51,
        9.45, 4.72], "ranks": [[47.4, 14.0, 17.8, 13.4, 17.4, 48.2, 38.2, 39.6, 43.6,
        33.4, 30.2, 73.8, 33.33, 16.67, 16.67, 83.33, 45.4, 70.6, 72.0, 45.83, 80.4,
        36.11, 55.56, 92.6, 80.56, 75.0, 77.6, 0.0, 58.2, 96.0, 96.2, 38.2, 95.2,
        16.8, 68.0, 67.6, 0.2, 77.8, 24.4, 26.8, 28.6, 25.0, 83.33, 24.0, 31.4], [43.2,
        5.2, 15.2, 19.6, 25.6, 22.6, 6.4, 10.8, 15.6, 37.2, 36.0, 97.8, 80.0, 80.0,
        70.0, 50.0, 35.4, 67.2, 76.8, 20.83, 39.8, 20.83, 29.17, 86.8, 51.39, 38.89,
        35.0, 0.4, 5.8, 57.6, 69.4, 35.4, 84.4, 1.4, 73.6, 28.2, 1.4, 33.0, 36.4,
        34.8, 41.4, 6.2, 70.0, 86.6, 81.0], [35.2, 69.2, 67.4, 67.0, 65.0, 60.0, 24.6,
        40.8, 17.8, 97.0, 83.0, 98.0, 63.64, 54.55, 27.27, 63.64, 52.4, 92.8, 92.6,
        48.61, 80.4, 34.72, 36.11, 88.2, 56.94, 48.61, 31.6, 0.2, 14.6, 49.4, 87.8,
        50.0, 90.8, 15.4, 49.4, 16.4, 0.8, 78.4, 45.0, 38.2, 59.2, 52.0, 50.0, 17.6,
        24.4]]}, "additionalData": [[129.93, 2071529.21], [88.23, 1144431.29], [239.82,
        1788337.78]]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
