interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/auth
  response:
    body:
      string: '90527725867250653778768527903371784266'
    headers:
      content-type:
      - text/plain;charset=UTF-8
      x-expires-in:
      - '3600'
    status:
      code: 200
      message: ''
- request:
    body: '{"nodes": "<RankingSystem RankType=\"Higher\"><StockFormula Weight=\"1\"
      RankType=\"Higher\" Name=\"Close(0)\" Description=\"Yesterday''s Close Price\"
      Scope=\"Universe\"><Formula>Close(0)</Formula></StockFormula></RankingSystem>",
      "type": "stock"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/rank
  response:
    body:
      string: '{"cost":1,"quotaRemaining":7324}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"rankingSystem": "ApiRankingSystem", "startDt": "2022-01-01", "endDt":
      "2022-12-31", "pitMethod": "Prelim", "precision": 4, "universe": "SP500", "transType":
      "long", "rankingMethod": 4, "numBuckets": 20, "minPrice": 1.0, "minLiquidity":
      100000.0, "maxReturn": 200.0, "rebalFreq": "Every Week", "slippage": 0.25, "benchmark":
      "SPY", "outputType": "ann"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/rank/performance
  response:
    body:
      string: '{"cost":3,"quotaRemaining":7321,"benchmarkAnnRet":-19.0473,"bucketAnnRet":[-14.7561,13.5877,-10.8265,-11.7802,-16.5846,-3.032,-8.5895,-7.5103,-6.5612,-10.4775,-15.6779,-15.6307,-20.6851,-23.8334,-13.162,-7.2435,-16.4149,-20.7365,-28.3766,-23.4699]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
