interactions:
- request:
    body: '{"apiKey": "MASKED", "apiId": "MASKED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/auth
  response:
    body:
      string: MASKED
    headers:
      content-type:
      - text/plain;charset=UTF-8
      x-expires-in:
      - '3600'
    status:
      code: 200
      message: ''
- request:
    body: '{"nodes": "<RankingSystem RankType=\"Higher\"><StockFormula Weight=\"1\"
      RankType=\"Higher\" Name=\"Invalid(Formula\" Description=\"\" Scope=\"Universe\"><Formula>Invalid(Formula</Formula></StockFormula></RankingSystem>",
      "type": "stock"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - MASKED
    method: POST
    uri: https://api.portfolio123.com/rank
  response:
    body:
      string: '{"cost": 1, "quotaRemaining": 6766}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"rankingSystem": "ApiRankingSystem", "startDt": "2022-01-01", "endDt":
      "2022-12-31", "pitMethod": "Prelim", "precision": 4, "universe": "SP500", "transType":
      "long", "rankingMethod": 4, "numBuckets": 20, "minPrice": 1.0, "minLiquidity":
      100000.0, "maxReturn": 200.0, "rebalFreq": "Every Week", "slippage": 0.25, "benchmark":
      "SPY", "outputType": "ann"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - MASKED
    method: POST
    uri: https://api.portfolio123.com/rank/performance
  response:
    body:
      string: 'Ranking failed on 01/01/2022: In ''Invalid(Formula''-> Error near ''Invalid'':
        Invalid command ''Invalid'''
    headers:
      content-type:
      - text/plain;charset=UTF-8
    status:
      code: 409
      message: ''
version: 1
