interactions:
- request:
    body: '{"nodes": "<RankingSystem RankType=\"Higher\"><StockFormula Weight=\"1\"
      RankType=\"Higher\" Name=\"Close(0)\" Description=\"Yesterday''s Close Price\"
      Scope=\"Universe\"><Formula>Close(0)</Formula></StockFormula></RankingSystem>",
      "type": "stock"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/rank
  response:
    body:
      string: '{"cost":1,"quotaRemaining":7316}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"rankingSystem": "ApiRankingSystem", "startDt": "2022-01-01", "endDt":
      "2022-12-31", "pitMethod": "Prelim", "precision": 4, "universe": "SP500", "transType":
      "long", "rankingMethod": 4, "numBuckets": 20, "minPrice": 1.0, "minLiquidity":
      100000.0, "maxReturn": 200.0, "rebalFreq": "Every Week", "slippage": 0.25, "benchmark":
      "SPY", "outputType": "ann"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/rank/performance
  response:
    body:
      string: '{"cost":3,"quotaRemaining":7313,"benchmarkAnnRet":-19.0473,"bucketAnnRet":[-14.7561,13.5877,-10.8265,-11.7802,-16.5846,-3.032,-8.5895,-7.5103,-6.5612,-10.4775,-15.6779,-15.6307,-20.6851,-23.8334,-13.162,-7.2435,-16.4149,-20.7365,-28.3766,-23.4699]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"rankingSystem": "ApiRankingSystem", "startDt": "2022-01-01", "endDt":
      "2022-12-31", "pitMethod": "Prelim", "precision": 4, "universe": "SP500", "transType":
      "long", "rankingMethod": 4, "numBuckets": 20, "minPrice": 1.0, "minLiquidity":
      100000.0, "maxReturn": 200.0, "rebalFreq": "Every Week", "slippage": 0.25, "benchmark":
      "SPY", "outputType": "ann"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/rank/performance
  response:
    body:
      string: '{"cost":3,"quotaRemaining":7301,"benchmarkAnnRet":-19.0473,"bucketAnnRet":[0.1852,-15.7324,-27.3454,-12.616,-11.7142,-14.1008,-18.1126,-22.6774,-23.8408,0.0,0.0,-7.668,-11.4457,-25.2423,-19.7173,-9.2229,-25.6124,-18.9162,-17.7805,-11.5784]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
