interactions:
- request:
    body: '{"apiKey": "MASKED", "apiId": "MASKED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/auth
  response:
    body:
      string: '60345256593194946267820301309531025802'
    headers:
      content-type:
      - text/plain;charset=UTF-8
      x-expires-in:
      - '3600'
    status:
      code: 200
      message: ''
- request:
    body: '{"screen": 309184, "precision": 2}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - MASKED
    method: POST
    uri: https://api.portfolio123.com/screen/run
  response:
    body:
      string: '{"cost":2,"quotaRemaining":8855,"columns":["P123 UID","Ticker","Name","Last","Rank","MktCap","SectorCode","IndCode"],"rows":[[68351,"APP","AppLovin
        Corp.",314.03,98.08,106783.31,"TECH","SOFTW"],[67393,"AFRM","Affirm Holdings,
        Inc.",49.9,96.15,15755.19,"FINANCIAL","FINSPECIAL"],[54504,"ARGX","argenx
        SE",615.02,94.23,37369.2,"HEALTHCARE","BIOPHARMASYS"],[67223,"UPST","Upstart
        Holdings, Inc.",51.96,92.31,4856.69,"FINANCIAL","FINSOFTW"],[70322,"IOT","Samsara,
        Inc.",40.16,90.38,22537.7,"TECH","SOFTW"],[120733,"RDDT","Reddit, Inc.",115.7,88.46,20862.56,"TECH","INTERNET"],[54148,"NTNX[...]
