interactions:
- request:
    body: '{"apiKey": "MASKED", "apiId": "MASKED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/auth
  response:
    body:
      string: MASKED
    headers:
      content-type:
      - text/plain;charset=UTF-8
      x-expires-in:
      - '3600'
    status:
      code: 200
      message: ''
- request:
    body: '{"screen": {"type": "stock", "universe": "SP500", "rules": [{"formula":
      "rsi(14) < 30", "type": null}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - MASKED
    method: POST
    uri: https://api.portfolio123.com/screen/run
  response:
    body:
      string: '{"cost": 2, "quotaRemaining": 9948, "columns": ["P123 UID", "Ticker",
        "Name", "Last", "MktCap", "SectorCode", "IndCode"], "rows": [[3429, "FDX",
        "FedEx Corp.", 230.33, 55279.2, "INDUSTRIAL", "DELIVERY"], [2097, "CTSH",
        "Cognizant Technology Solutions Corp.", 76.42, 37827.9, "TECH", "TECHCONSULTSVCE"],
        [2632, "DECK", "Deckers Outdoor Corp.", 117.86, 17887.61, "CYCLICALS", "APPARELPRODUCTS"],
        [3795, "IT", "Gartner, Inc.", 430.38, 33302.74, "TECH", "INTERNET"], [8542,
        "TGT", "Target Corp.", 104.06, 47406.3, "NONCYCLICAL", "GENMERCH"], [9980,
        "ACN", "Accenture PLC", 305.32, 191266.1, "TECH", "TECHCONSULTSVCE"], [38527,
        "EPAM", "EPAM Systems, Inc.", 175.3, 9969.14, "TECH", "TECHCONSULTSVCE"]]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"screen": {"type": "stock", "universe": "SP500", "rules": [{"formula":
      "rsi(14) < 30", "type": null}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - MASKED
    method: POST
    uri: https://api.portfolio123.com/screen/run
  response:
    body:
      string: '{"cost": 2, "quotaRemaining": 9946, "columns": ["P123 UID", "Ticker",
        "Name", "Last", "MktCap", "SectorCode", "IndCode"], "rows": [[3429, "FDX",
        "FedEx Corp.", 230.33, 55279.2, "INDUSTRIAL", "DELIVERY"], [2097, "CTSH",
        "Cognizant Technology Solutions Corp.", 76.42, 37827.9, "TECH", "TECHCONSULTSVCE"],
        [2632, "DECK", "Deckers Outdoor Corp.", 117.86, 17887.61, "CYCLICALS", "APPARELPRODUCTS"],
        [3795, "IT", "Gartner, Inc.", 430.38, 33302.74, "TECH", "INTERNET"], [8542,
        "TGT", "Target Corp.", 104.06, 47406.3, "NONCYCLICAL", "GENMERCH"], [9980,
        "ACN", "Accenture PLC", 305.32, 191266.1, "TECH", "TECHCONSULTSVCE"], [38527,
        "EPAM", "EPAM Systems, Inc.", 175.3, 9969.14, "TECH", "TECHCONSULTSVCE"]]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
