interactions:
- request:
    body: '{"apiKey": "MASKED", "apiId": "MASKED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/auth
  response:
    body:
      string: '87994605290062103065720239737180954901'
    headers:
      content-type:
      - text/plain;charset=UTF-8
      x-expires-in:
      - '3600'
    status:
      code: 200
      message: ''
- request:
    body: '{"screen": {"type": "stock", "universe": "SP500", "rules": [{"formula":
      "CLOSE() > 0", "type": null}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - MASKED
    method: POST
    uri: https://api.portfolio123.com/screen/run
  response:
    body:
      string: 'ERROR: Invalid criteria in Rule 1. Error near '')'': Close - Missing
        operands'
    headers:
      content-type:
      - text/plain;charset=UTF-8
    status:
      code: 409
      message: ''
version: 1
