interactions:
- request:
    body: '{"apiKey": "MASKED", "apiId": "MASKED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/auth
  response:
    body:
      string: MASKED
    headers:
      content-type:
      - text/plain;charset=UTF-8
      x-expires-in:
      - '3600'
    status:
      code: 200
      message: ''
- request:
    body: '{"screen": {"type": "stock", "universe": "SP500", "rules": [{"formula":
      "rsi(14) > 70", "type": null}], "ranking": {"formula": "rsi(14)", "lowerIsBetter":
      false}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - MASKED
    method: POST
    uri: https://api.portfolio123.com/screen/run
  response:
    body:
      string: '{"cost": 2, "quotaRemaining": 9944, "columns": ["P123 UID", "Ticker",
        "Name", "Last", "Rank", "MktCap", "SectorCode", "IndCode"], "rows": [[2457,
        "CCI", "Crown Castle, Inc.", 106.39, 100.0, 46279.65, "FINANCIAL", "REIT"],
        [2860, "DTE", "DTE Energy Co.", 137.11, 99.8, 28405.3, "UTIL", "ENERGYUTIL"],
        [8155, "LUV", "Southwest Airlines Co.", 34.83, 99.6, 20665.12, "INDUSTRIAL",
        "PASSENGERTRANS"], [4170, "MNST", "Monster Beverage Corp.", 57.31, 99.4, 55767.16,
        "NONCYCLICAL", "FOODDRINKMFR"], [9316, "VRSN", "VeriSign, Inc.", 244.51, 99.2,
        23228.45, "TECH", "INTERNET"]]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
