interactions:
- request:
    body: '{"apiId": "MASKED", "apiKey": "MASKED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/auth
  response:
    body:
      string: MASKED
    headers:
      content-type:
      - text/plain;charset=UTF-8
      x-expires-in:
      - '3600'
    status:
      code: 200
      message: ''
- request:
    body: '{"nodes": "<RankingSystem RankType=\"Higher\">\n    <Composite Name=\"Core:
      Growth\" Weight=\"15\" RankType=\"Higher\">\n        <Composite Name=\"EPS\"
      Weight=\"33.33\" RankType=\"Higher\">\n            <Composite Name=\"Basic\"
      Weight=\"50\" RankType=\"Higher\">\n                <StockFactor Weight=\"33.33\"
      RankType=\"Higher\" Scope=\"Universe\">\n                    <Factor>EPSExclXorGr%PYQ</Factor>\n                </StockFactor>\n                <StockFactor
      Weight=\"33.33\" RankType=\"Higher\" Scope=\"Universe\">\n                    <Factor>EPSExclXorGr%TTM</Factor>\n                </StockFactor>\n                <StockFactor
      Weight=\"33.33\" RankType=\"Higher\" Scope=\"Universe\">\n                    <Factor>EPSExclXorGr%5Y</Factor>\n                </StockFactor>\n            </Composite>\n            <Composite
      Name=\"Acceleration\" Weight=\"50\" RankType=\"Higher\">\n                <StockFormula
      Weight=\"50\" RankType=\"Higher\" Name=\"EPS Acceleration - recent\" Description=\"\"
      Scope=\"Universe\">\n                    <Formula>%(EPSExclXorGr%PYQ, EPSExclXorGr%TTM)</Formula>\n                </StockFormula>\n                <StockFormula
      Weight=\"50\" RankType=\"Higher\" Name=\"EPS Acceleration - longer term\" Description=\"\"
      Scope=\"Universe\">\n                    <Formula>%(EPSExclXorGr%TTM, EPSExclXorGr%5Y)</Formula>\n                </StockFormula>\n            </Composite>\n        </Composite>\n        <Composite
      Name=\"Sales\" Weight=\"33.33\" RankType=\"Higher\">\n            <Composite
    [...]
[...]
