interactions:
- request:
    body: '{"apiId": "MASKED", "apiKey": "MASKED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/auth
  response:
    body:
      string: MASKED
    headers:
      content-type:
      - text/plain;charset=UTF-8
      x-expires-in:
      - '3600'
    status:
      code: 200
      message: ''
- request:
    body: '{"nodes": "<RankingSystem RankType=\"Higher\">\n    <StockFormula Weight=\"0\"
      RankType=\"Higher\" Name=\"Close(0)\" Description=\"Price momentum\" Scope=\"Universe\">\n        <Formula>Close(0)</Formula>\n    </StockFormula>\n    <StockFormula
      Weight=\"0\" RankType=\"Lower\" Name=\"PERelative\" Description=\"PE relative
      to industry\" Scope=\"Universe\">\n        <Formula>PERelative</Formula>\n    </StockFormula>\n</RankingSystem>",
      "type": "stock"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/rank
  response:
    body:
      string: '{"cost": 1, "quotaRemaining": 7290}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"nodes": "<RankingSystem RankType=\"Higher\">\n    <StockFormula Weight=\"0\"
      RankType=\"Higher\" Name=\"Close(0)\" Description=\"Price momentum\" Scope=\"Universe\">\n        <Formula>Close(0)</Formula>\n    </StockFormula>\n    <StockFormula
      Weight=\"0\" RankType=\"Lower\" Name=\"PERelative\" Description=\"PE relative
      to industry\" Scope=\"Universe\">\n        <Formula>PERelative</Formula>\n    </StockFormula>\n</RankingSystem>",
      "type": "stock"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/rank
  response:
    body:
      string: '{"cost": 1, "quotaRemaining": 6949}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
