interactions:
- request:
    body: '{"apiId": "MASKED", "apiKey": "MASKED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/auth
  response:
    body:
      string: MASKED
    headers:
      content-type:
      - text/plain;charset=UTF-8
      x-expires-in:
      - '3600'
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"startDt": "2022-01-01", "endDt": "2022-12-31", "pitMethod": "Prelim",
      "precision": 2, "transPrice": 4, "slippage": 0.001, "longWeight": 100.0, "rankTolerance":
      7, "rebalFreq": "Every Week", "riskStatsPeriod": "Monthly", "screen": {"type":
      "stock", "universe": "01 SmallCap Bulls Rank US", "maxNumHoldings": 25, "method":
      "long", "currency": "USD", "benchmark": "spy", "ranking": {"formula": "Close(0)",
      "lowerIsBetter": false}, "rules": [{"formula": "Close(0) > 0"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/screen/backtest
  response:
    body:
      string: '{"cost": 5, "quotaRemaining": 7094, "stats": {"samples": 11, "correlation":
        0.98, "r_squared": 0.96, "beta": 1.14, "alpha": 7.44, "port": {"standard_dev":
        27.68, "sharpe_ratio": -0.38, "sortino_ratio": -0.55, "total_return": -22.73,
        "annualized_return": -22.74, "max_drawdown": -30.25}, "bench": {"standard_dev":
        23.79, "sharpe_ratio": -0.65, "sortino_ratio": -0.98, "total_return": -18.99,
        "annualized_return": -19.0, "max_drawdown": -24.5}}, "results": {"columns":
        ["As Of Dt", "Rank Dt", "Tran Dt", "End Dt", "#Pos", "New Pos", "Sold Pos",
        "Turn", "Ret%", "Bench%", "Excess%", "100 USD Investment", "100 USD in SPY:USA",
        "Costs", "Cash", "Min % no slip", "Max % no slip", "StdDev"], "rows": [["2023-01-01",
        "2022-12-31", "2023-01-02", "2023-01-02", 25, 1, 1, 4.0, 0.0, 0.0, 0.0, 77.27,
        81.01, 0.0, 0.0, 0.0, 0.0, 0.0], ["2022-12-25", "2022-12-24", "2022-12-26",
        "2023-01-02", 25, 1, 1, 4.0, -0.35, -0.15, -0.2, 77.27, 81.01, 0.0, -0.0,
        -15.23, 5.73, 4.15], ["2022-12-18", "2022-12-17", "2022-12-19", "2022-12-26",
        25, 1, 1, 4.0, 0.98, 0.36, 0.62, 77.55, 81.13, 0.0, -0.0, -7.57, 5.62, 3.13],
        ["2022-12-11", "2022-12-10", "2022-12-12", "2022-1[...]
[...]
