interactions:
- request:
    body: '{"apiKey": "MASKED", "apiId": "MASKED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/auth
  response:
    body:
      string: MASKED
    headers:
      content-type:
      - text/plain;charset=UTF-8
      x-expires-in:
      - '3600'
    status:
      code: 200
      message: ''
- request:
    body: '{"nodes": "<RankingSystem RankType=\"Higher\"><StockFormula Weight=\"1\"
      RankType=\"Higher\" Name=\"Close(0)\" Description=\"\" Scope=\"Universe\"><Formula>Close(0)</Formula></StockFormula></RankingSystem>",
      "type": "stock"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - MASKED
    method: POST
    uri: https://api.portfolio123.com/rank
  response:
    body:
      string: '{"cost": 1, "quotaRemaining": 6740}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"startDt": "2022-01-01", "endDt": "2022-12-31", "pitMethod": "Prelim",
      "precision": 2, "transPrice": 4, "slippage": 0.001, "longWeight": 100.0, "rankTolerance":
      7, "rebalFreq": "Every Week", "riskStatsPeriod": "Monthly", "screen": {"type":
      "stock", "universe": "01 SmallCap Bulls Rank US", "maxNumHoldings": 25, "method":
      "long", "currency": "USD", "benchmark": "spy", "ranking": "ApiRankingSystem",
      "rules": [{"formula": "Invalid(Formula"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - MASKED
    method: POST
    uri: https://api.portfolio123.com/screen/backtest
  response:
    body:
      string: 'ERROR: Invalid criteria in Rule 1. Error near ''Invalid'': Invalid
        command ''Invalid'''
    headers:
      content-type:
      - text/plain;charset=UTF-8
    status:
      code: 409
      message: ''
version: 1
