interactions:
- request:
    body: '{"apiKey": "MASKED", "apiId": "MASKED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/auth
  response:
    body:
      string: MASKED
    headers:
      content-type:
      - text/plain;charset=UTF-8
      x-expires-in:
      - '3600'
    status:
      code: 200
      message: ''
- request:
    body: '{"nodes": "<RankingSystem RankType=\"Higher\"><StockFormula Weight=\"1\"
      RankType=\"Higher\" Name=\"Close(0)\" Description=\"\" Scope=\"Universe\"><Formula>Close(0)</Formula></StockFormula><StockFormula
      Weight=\"1\" RankType=\"Lower\" Name=\"PERelative\" Description=\"\" Scope=\"Universe\"><Formula>PERelative</Formula></StockFormula><StockFormula
      Weight=\"1\" RankType=\"Higher\" Name=\"mktcap\" Description=\"\" Scope=\"Universe\"><Formula>mktcap</Formula></StockFormula><StockFormula
      Weight=\"1\" RankType=\"Lower\" Name=\"Vol(0)\" Description=\"\" Scope=\"Universe\"><Formula>Vol(0)</Formula></StockFormula></RankingSystem>",
      "type": "stock"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - MASKED
    method: POST
    uri: https://api.portfolio123.com/rank
  response:
    body:
      string: '{"cost": 1, "quotaRemaining": 6746}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"startDt": "2022-01-01", "endDt": "2022-12-31", "pitMethod": "Prelim",
      "precision": 2, "transPrice": 4, "slippage": 0.001, "longWeight": 100.0, "rankTolerance":
      7, "rebalFreq": "Every Week", "riskStatsPeriod": "Monthly", "screen": {"type":
      "stock", "universe": "01 SmallCap Bulls Rank US", "maxNumHoldings": 25, "method":
      "long", "currency": "USD", "benchmark": "spy", "ranking": "ApiRankingSystem",
      "rules": [{"formula": "Close(0) > 0"}, {"formula": "PERelative > 0"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - MASKED
    method: POST
    uri: https://api.portfolio123.com/screen/backtest
  response:
    body:
      string: '{"cost": 5, "quotaRemaining": 6741, "stats": {"samples": 11, "correlation":
        0.97, "r_squared": 0.94, "beta": 1.09, "alpha": 15.57, "port": {"standard_dev":
        26.78, "sharpe_ratio": -0.09, "sortino_ratio": -0.14, "total_return": -12.95,
        "annualized_return": -12.96, "max_drawdown": -24.23}, "bench": {"standard_dev":
        23.79, "sharpe_ratio": -0.65, "sortino_ratio": -0.98, "total_return": -18.99,
        "annualized_return": -19.0, "max_drawdown": -24.5}}, "results": {"columns":
        ["As Of Dt", "Rank Dt", "Tran Dt", "End Dt", "#Pos", "New Pos", "Sold Pos",
        "Turn", "Ret%", "Bench%", "Excess%", "100 USD Investment", "100 USD in SPY:USA",
        "Costs", "Cash", "Min % no slip", "Max % no slip", "StdDev"], "rows": [["2023-01-01",
        "2022-12-31", "2023-01-02", "2023-01-02", 25, 1, 1, 4.0, 0.0, 0.0, 0.0, 87.05,
        81.01, 0.0, -0.0, 0.0, 0.0, 0.0], ["2022-12-25", "2022-12-24", "2022-12-26",
        "2023-01-02", 25, 1, 1, 4.0, -2.1, -0.15, -1.95, 87.05, 81.01, 0.0, 0.0, -15.23,
        3.67, 4.28], ["2022-12-18", "2022-12-17", "2022-12-19", "2022-12-26", 25,
        3, 3, 12.0, 1.93, 0.36, 1.57, 88.92, 81.13, 0.0, -0.0, -2.57, 7.63, 2.39],
        ["2022-12-11", "2022-12-10", "2022-12-12", "2022-[...]
