interactions:
- request:
    body: '{"apiKey": "MASKED", "apiId": "MASKED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.portfolio123.com/auth
  response:
    body:
      string: MASKED
    headers:
      content-type:
      - text/plain;charset=UTF-8
      x-expires-in:
      - '3600'
    status:
      code: 200
      message: ''
- request:
    body: '{"startDt": "2022-01-01", "endDt": "2022-12-31", "rebalFreq": "Every 4
      Weeks", "pitMethod": "Prelim", "transPrice": 4, "riskStatsPeriod": "Monthly",
      "screen": {"type": "stock", "universe": "SP500", "maxNumHoldings": 50, "method":
      "long", "currency": "USD", "benchmark": "SPY", "ranking": "ApiRankingSystem",
      "rules": [{"formula": "PERelative() > 0"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - MASKED
    method: POST
    uri: https://api.portfolio123.com/screen/backtest
  response:
    body:
      string: '{"cost": 5, "quotaRemaining": 8956, "stats": {"samples": 11, "correlation":
        0.92, "r_squared": 0.84, "beta": 0.84, "alpha": 10.44, "port": {"standard_dev":
        21.82, "sharpe_ratio": -0.14, "sortino_ratio": -0.21, "total_return": -4.98,
        "annualized_return": -4.98, "max_drawdown": -19.2}, "bench": {"standard_dev":
        23.79, "sharpe_ratio": -0.65, "sortino_ratio": -0.98, "total_return": -18.99,
        "annualized_return": -19.0, "max_drawdown": -24.5}}, "results": {"columns":
        ["As Of Dt", "Rank Dt", "Tran Dt", "End Dt", "#Pos", "New Pos", "Sold Pos",
        "Turn", "Ret%", "Bench%", "Excess%", "100 USD Investment", "100 USD in SPY:USA",
        "Costs", "Cash", "Min % no slip", "Max % no slip", "StdDev"], "rows": [["2023-01-01",
        "2022-12-31", "2023-01-02", "2023-01-02", 50, 5, 5, 10.0, -0.05, 0.0, -0.05,
        95.02, 81.01, 0.05, -0.0, 0.0, 0.0, 0.0], ["2022-12-04", "2022-12-03", "2022-12-05",
        "2023-01-02", 50, 8, 8, 16.0, -2.9, -4.26, 1.36, 95.07, 81.01, 0.08, -0.0,
        -17.47, 7.03, 3.87], ["2022-11-06", "2022-11-05", "2022-11-07", "2022-12-05",
        50, 19, 19, 38.0, 1.12, 5.17, -4.05, 97.91, 84.62, 0.18, -0.0, -11.95, 17.5,
        6.41], ["2022-10-09", "2022-10-08", "2022-1[...]
